<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Question Answering System</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>

  <body>
    <header>
      <h2 id="title">Question Answering System</h2>
      <button id="lang-switch" onclick="window.location.href='/Question_Answering_AR'">Switch Language</button>
      <nav class="navbar">
        <img src="../static/ensias.png" alt="Your Logo">
      </nav>
    </header>

    <main>
      <h3 id="groupName" ><b>Group:</b> Nechba, Mouhajir and Sedjari <br> <b>Supervisor:</b> Prof. Aouragh</h3>
      <br>
      <section class="chat">
        <div class="chat-box-bot">
          <div class="chat-bubble bot">Hi there! How can I help you today?</div>
        </div>
    </section>
      <section class="chat1"> 
        <form class="chat-form">
          <input type="text" placeholder="Type your message..." />
          <button type="submit">Send</button>
        </form>
    </section>
    </main>
    <script src="../static/script.js"></script>
  </body>
</html>
