<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>نظام الرد على الأسئلة</title>
    <link rel="stylesheet" href="../static/stylear.css" />
  </head>

  <body>
    <header>
      <h2 id="title">نظام الرد على الأسئلة</h2>
      <button id="lang-switch" onclick="window.location.href='/Question_Answering_EN'">تبديل اللغة</button>
      <nav class="navbar">
        <img src="../static/ensias.png" alt="Your Logo">
      </nav>
    </header>

    <main>
      <h3 dir="rtl" id="groupName" ><b>مجموعة:</b> النشبة و مهاجر و السدجاري <br> <b>مشرف:</b> أستاذ. أوراغ</h3>
      <br>
      <section class="chat">
        <div class="chat-box-bot">
          <div class="chat-bubble bot">أهلاً! كيف استطيع مساعدتك اليوم؟</div>
        </div>
    </section>
      <section class="chat1"> 
        <form class="chat-form">
          <input type="text" dir="rtl" placeholder="اكتب رسالتك..." />
          <button type="submit">ارسل</button>
        </form>
    </section>
    </main>
    <script src="../static/scriptar.js"></script>
  </body>
</html>
